# Arquivos compilados (Byte-compiled)
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais (Virtual Environments)
venv/
.venv/
env/
ENV/
bin/
lib/

# Distribuição / Pacotes
dist/
build/
*.egg-info/

# Variáveis de ambiente (Segurança!)
.env

# Configurações de editores/IDE
.vscode/
.idea/
