__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/

Pasta_organizada/
Despesas_Pendentes/
Projects_exercises/Organizador_daemon/Arquivos_sujos/
Projects_exercises/Organizador_daemon/Cofre/
*.pdf
*.jpg
*.jpeg
*.png
*.doc
*.docx
*.txt
*.gif